@model TestMvcApp.Models.TestViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Demo</h2>
<p>@Html.Translate("Exemple de chaîne localisée dans la culture courante.")</p>
<p></p>
@Html.DisplayForModel()
